*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --content-primary: #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;

  --background-primary: #151515;
  --background-secondary: #1E1E1E;
  --background-tertiary: #23242C;
  --background-brand: #9282FA;
  --background-highlights: #BDB4FA;

  --border-primary: #3E3C41;
  --border-secondary: #86818C;
  --border-brand: #9282FA;
  --border-divisor: #353339;

  --accent-blue: #027DF0;
  --accent-blue-light: #16487A;
  --accent-yellow: #F0DC02;
  --accent-yellow-light: #756E1B;
  --accent-orange: #F09102;
  --accent-orange-light: #75501B;

  --font-family-inter-tight: "Inter Tight", serif;
  --font-family-inter: "Inter", serif;

  --title: 700 1.5rem/133% var(--font-family-inter-tight);

  --paragraph-medium: 600 0.875rem/171.5% var(--font-family-inter);
  --paragraph-small: 600 0.75rem/133% var(--font-family-inter);
  --label-calendar: 400 1rem/150% var(--font-family-inter);
  --label-large: 700 1rem/150% var(--font-family-inter);
  --label-medium: 700 0.875rem/171.5% var(--font-family-inter);
  --label-small: 700 0.75rem/133% var(--font-family-inter);
  --link: 600 0.75rem/133% var(--font-family-inter);
}

body {
  background-color: #14151D;
  & main {
    position: relative;
    & #schedule{
      position: absolute;
      left: 50%;
      transform: translate(-50%, -0%); 
    }
    & #to-schedule{
      position: absolute; 
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%); 
    }
  }
}

#logo {
  width: 9.5rem;
  height: 3rem;
  border-bottom-right-radius: 16px;
  background-color: #2E2C30;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 7rem;
    height: 1.5rem;
  }
}

h1 {
  font: var(--title);
  color: var(--content-primary);
  padding-bottom: 0.25rem;
}

p {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
  text-align: justify;
}

input,
select {
  height: 3rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  font: var(--label-calendar);
  color: var(--content-secondary);

  &:hover {
    border: 1px solid var(--border-secondary);
    cursor: pointer;
  }

  &:focus {
    border: 1px solid var(--border-brand);
    outline: none;
  }
}

.button {
  all: unset;
  background-color: var(--content-brand);
  padding: 0.75rem 1.25rem;
  font: var(--label-large);
  border-radius: 8px;

  &:hover {
    background-color: var(--background-highlights);
    cursor: pointer;
    border: none;
  }
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background: 
  url('../assets/icons/calendar.svg') no-repeat left .8rem center, 
  url('../assets/icons/arrow-down.svg') no-repeat right 0.75rem center;
  background-size: 1.2rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  font: var(--label-calendar);
  color: var(--content-secondary);
  padding-left: 2.6rem;
  min-width: 11.7rem;

  &:hover {
    border: 1px solid var(--border-secondary);
    cursor: pointer;
  }

  &:focus {
    border: 1px solid var(--border-brand);
    outline: none;
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
    width: 100%; 
    height: 100%;
    cursor: pointer;
    transform: translateX(-2.6rem);
  } 

  &::-moz-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
    width: 100%; 
    height: 100%;
    cursor: pointer;
    transform: translateX(-2.6rem);
  } 
}

.margin-botton {
  height: 5.25rem;
}

footer {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 99999;
  /* garantir q esteja a frente de tudo. */
}

.display-none {
  display: none;
}

.blur {
  filter: blur(5px);
}

@media (max-width: 780px) {
  input[type="date"] {
    /* &::-webkit-datetime-edit {
    display: none;
    } */
  }
  footer {
    display: flex;
    justify-content: flex-end;
    /* margin: auto; */
    right: 3.8vw;
    /* left: 0rem; */
    width: 90vw;
    max-width: 45rem;
  }
}

@media (max-width: 540px) {
  footer {
    right: 3.4vw;
  }
}

@media (max-width: 384px) {
  input,
  select {
    min-width: 11.7rem;
  }
  footer {
    right: 2.6vw;
  }
}