#schedule {
  /* border: 1px solid red; */
  margin: auto;
  width: 55vw;
  min-width: 15rem;
  margin-block: 1rem;

  & header {
    /* border: 1px solid red; */
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}



#shifts {

  display: grid;
  gap: .75rem;

  & hr {
    height: 1px;
    background-color: var(--content-tertiary);
    border: none;
    opacity: .1;
    margin-bottom: .75rem;
  }

  & .line {
    height: 1px;
    background-color: var(--content-tertiary);
    opacity: .1;
    margin: 0.75rem -1.25rem 1.25rem -1.25rem;
  }
}



.shift {
  background-color: var(--background-tertiary);
  padding: 0.75rem 1.25rem;
  border-radius: 8px;

  .shift-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;


    & img {
      width: 1.25rem;
      height: 1.25rem;
    }

    & span {
      margin-left: auto;
      font: var(--label-large);
      color: var(--content-secondary);
    }

    & h2 {
      font: var(--label-large);
      color: var(--content-primary);
    }
  }
}

.shift-schedule-container {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */

  & .remove {
    display: flex;
    white-space: nowrap;
    font: var(--paragraph-small);
    color: var(--content-tertiary);
    margin-left: auto;

    &:hover {
      color: var(--content-primary);
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .shift-schedule {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10fr 6fr 2fr 25fr;
    align-items: center;
    min-height: 3rem;
    /* border: 1px solid red; */

    & span {
      font: var(--label-small);
      color: var(--content-primary);
      margin-right: 1.5rem;
    }

    & :nth-child(4), :nth-child(3) {
      color: var(--content-secondary);
    }
  }
}

h3 {
  font: var(--paragraph-small);
  color: var(--content-primary);
}

@media (min-width: 781px) and (max-width: 1200px) {
  #schedule {
    width: 80vw;
    max-width: 45rem;

    & header {
      
      & #your-schedule {
        & h1 {
          margin-top: .5rem;
        }
      }

      & input {
        max-width: 11rem;
        margin-top: .75rem;
      }
    }
  }
}

@media (max-width: 780px) {
  input[type="date"] {
    appearance: auto;
    -webkit-appearance: auto;
  }
  #schedule {
    width: 90vw;
    max-width: 45rem;

    & header {
      & #your-schedule {
        & h1 {
          margin-top: .5rem;
        }
      }
      & input {
        max-width: 11rem;
        margin-top: .75rem;
      }
    }
  }
  .shift-schedule-container {
    display: grid;
    & .shift-schedule {
      min-height: auto;
      display: flex;
      margin-bottom: .25rem;
      & span {
        margin-right: 0.75rem;
      }
      & :nth-child(3) {
        margin-inline: .25rem;
      }
    }
    & .remove {
      margin: .5rem .75rem .75rem auto;
    }
  }
}

@media (max-width: 540px) {
  #schedule {
    & header {
      display: grid;
      gap: unset;
    }
  }
}